#wrap{
    width : 1100px;
}
.menu-box{
    background-color: blue;
}
.menu-box > .logo-box{
    height : 70px;
}
.logo-box > .logo{
    height : 40px;
}
.menu-box > .main-menu{

}
footer{
    height : 80px;
}