#wrap{
    width : 1100px;
}
.menu-box{
    background-color: blue;
}
.menu-box > .logo-box{
    height : 70px;
}
.logo-box > .logo{
    height : 40px;
}
.input-label{
    white-space: nowrap;
    margin-right: 8px;
    margin-left: 8px;
}
footer{
    height : 80px;
}